{% extends "base.html" %}
{% block title %}Balance Sheet{% endblock %}
{% block style %}<link href="static/bs.css" rel="stylesheet">{% endblock %}
{% block cdn %}<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">{% endblock %}
{% block body %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/balance_sheet">Balance Sheet</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/gpa_calculator">GPA Calculator</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/grade_calculator">Grade Calculator</a>
        </li>
    </ul>
    <div class="main">
        <div class="hero">
            <div class="heading">
                <h1>Balance Sheet</h1>
            </div>
            <div class="forms">
                <div class="income">
                    <h2 class="form-name">Income</h2>
                    <form id="income-form" method="post">
                        <div class="form-input" id="income-form-row1">
                            <div class="form-wrapper">
                                <input type="text" id="income-name1" name="income-name1" placeholder="Name" aria-required>
                                <input type="number" id="income-amount1" name="income-amount1" placeholder="Amount" required>
                                <select id="income-frequency1" name="income-frequency1" required>
                                    <option value="none" selected disabled hidden>Frequency</option>
                                    <option value="daily">Daily</option>
                                    <option value="weekly">Weekly</option>
                                    <option value="bi-weekly">Bi-Weekly</option>
                                    <option value="monthly">Monthly</option>
                                </select>
                                <button class="delete-button" type="button"><i class="fa-solid fa-x"></i></button>
                            </div>
                        </div>
                        <button class="add-button" type="button"><i class="fa-solid fa-square-plus"></i></button>
                    </form>
                </div>
                <div class="expense">
                    <h2 class="form-name">Expenses</h2>
                    <form id="expense-form" method="post">
                        <div class="form-input" id="expense-form-row1">
                            <div class="form-wrapper">
                                <input type="text" id="expense-name1" name="expense-name1" placeholder="Name">
                                <input type="number" id="expense-amount1" name="expense-amount1" placeholder="Amount">
                                <select id="expense-frequency1" name="expense-frequency1">
                                    <option value="none" selected disabled hidden>Frequency</option>
                                    <option value="daily">Daily</option>
                                    <option value="weekly">Weekly</option>
                                    <option value="bi-weekly">Bi-Weekly</option>
                                    <option value="monthly">Monthly</option>
                                </select>
                                <button class="delete-button" type="button" id="add-button"><i class="fa-solid fa-x"></i></button>
                            </div>
                        </div>
                        <button class="add-button" type="button"><i class="fa-solid fa-square-plus"></i></button>
                    </form>
                </div>   
            </div>
            <div class="report">
                <h1>{{sentence}}</h1>
            </div>
            <div class="calculate">
                <button class="calculate-button" type="submit" value="Calculate" formmethod="post" onclick="exec()">Calculate</button>
            </div>
        </div>
    </div>
    <script src="static/bs.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
{% endblock %}